@font-face {
    font-family: 'glacial_bold';
    src: url('~@/assets/fonts/GlacialIndifference-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'glacial';
    src: url('~@/assets/fonts/GlacialIndifference-Regular.otf') format('opentype');
}